.header {
  color: #252525;
  font-family: Sorts Mill Goudy;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 110%;
  margin: 30px 0 20px;
  text-align: center;
  white-space: nowrap;
}

.content {
  color: #252525;
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 30px;
  max-width: 236px;
  text-align: center;
}

.progress-dots {
  display: flex;
  margin-bottom: 15px;
}

.progress-dot {
  width: 6px;
  height: 6px;
  background-color: #c3c8cc;
  border-radius: 100%;
}

.progress-dot.active {
  background-color: #49545c;
}

.progress-dot:not(:last-of-type) {
  margin-right: 4px;
}

.button {
  padding: 15px 107px 18px;
}

@media (max-width: 540px) {
  .content {
    margin-bottom: 28px;
  }
}
